@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General style */

body {
  background-color: #98B458;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.internal-link {
  text-decoration: underline #455421;
}

.internal-link:hover {
  font-style: italic;
}

/* header */

header {
  background-color: #839B4B;
  display: flex;
  justify-content: space-between;
  height: 14em;
  width: 100%;
  border-bottom: 1px #455421 solid;
}

.header--left {
  display: flex;
  align-items: center;
  margin: 1.5em 0 1.5em 9em;
}

.header--left__menu-button {
  display: none;
  margin-right: 1em;
}

.header--left__menu-button > img {
  height: 4em;
}

.header--left__logo > a > img {
  height: 9em;
}

.header--left__title {
  margin-left: 3em;
}

.header--left__title__main-title {
  font-size: 4em;
}

.header--left__title__subtitle {
  font-size: 2em;
}

.header--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22em;
  margin: 1.4em 5em 1.4em 0;
  font-size: 2em;
}

.button {
  background-color: #8dad42;
  padding: 0.6em 1.4em 0.6em 1.4em;
  border: #2d3812 1px solid;
  border-radius: 1.4em;
  box-shadow: 1px 1px 1px #2d3812;
  text-transform: capitalize;
}

.button:hover {
  background-color: #789431;
  box-shadow: none;
}

.header--right__auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* nav */

nav {
  display: none;
  position: fixed;
  background-color: #98B458;
  top: 0;
  left: 0;
  height: 100%;
  width: 55%;
  padding: 2em;
}

.nav__icon {
  height: 10%;
}

.nav__icon > img {
  height: 3em;
}

.nav__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  font-size: 1.5em;
}

.nav__ul li {
  margin: 1em 0em 1em 0em;
}

/* main */

main {
  background-color: #deebc1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.main__title {
  margin: 1em;
  font-size: 3em;
  color: #2d3812;
}

.main__games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main__game {
  background-color: #98B458;
  display: flex;
  flex-direction: column;
  height: 35em;
  width: 35em;
  margin: 1.5em;
  padding: 1em;
  border: #2d3812 1px solid;
  box-shadow: 1px 1px 5px #2d3812;
}

.main__game:hover {
  box-shadow: none;
}

.main__game__body {
  display: flex;
}

.main__game__photo {
  height: 20em;
}

.main__game__informations {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1em;
  color: #161c07;
  font-size: 1.5em;
  font-weight: bold;
}

.main__game__presentation {
  padding: 1em;
  font-size: 1.5em;
}

/* footer */

footer {
  background-color: #839B4B;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8em;
  width: 100%;
  border-top: 1px #455421 solid;
}

.footer {
  font-size: 2em;
}

/* Media-queries */

@media all and (max-width: 2300px) {
  /* header */
  .header--left {
    margin-left: 3em;
  }

  .header--right {
    margin-right: 3em;
  }
}

@media all and (max-width: 2000px) {
  /* header */

  header {
    height: 11em;
  }

  .header--left__title__subtitle {
    font-size: 1.2em;
  }

  .header--right {
    font-size: 1.4em;
  }

  .header--right__auth {
    height: 4.5em;
  }

  /* main */

  .main__game {
    height: 25em;
    width: 25em;
  }

  .main__game__photo {
    height: 15em;
  }

  .main__game__informations {
    padding: 0.4em;
    font-size: 1.1em;
  }

  .main__game__presentation {
    padding: 0.7em;
    font-size: 1.2em;
  }

  /* footer */

  .footer {
    font-size: 1.5em;
  }
}

@media all and (max-width: 1440px) {
  /* header */

  header {
    height: 9em;
  }

  .header--left {
    margin-left: 1em;
  }
  
  .header--right {
    margin-right: 1em;
  }

  .header--left__logo > a > img {
    height: 6em;
  }

  .header--left__title__main-title {
    font-size: 2.5em;
  }

  .header--left__title__subtitle {
    font-size: 1em;
  }

  .header--right {
    font-size: 1.1em;
  }

  .header--right__auth {
    height: 4em;
  }

  /* main */

  .main__title {
    margin: 0.7em;
    font-size: 2.3em;
  }

  .main__game {
    height: 18em;
    width: 18em;
    padding: 0.5em;
  }

  .main__game__photo {
    height: 10em;
  }

  .main__game__informations {
    padding: 0.2em;
    font-size: 0.9em;
  }

  .main__game__presentation {
    padding: 0.4em;
    font-size: 0.9em;
  }

  /* footer */

  .footer {
    font-size: 1.2em;
  }
}

@media all and (max-width: 992px) {
  /* header */

  header {
    height: 7em;
  }

  .header--left__logo > a > img {
    height: 4em;
  }

  .header--left__title__main-title {
    font-size: 2em;
  }

  .header--left__title__subtitle {
    font-size: 0.8em;
  }

  .header--right {
    font-size: 0.9em;
  }

  /* main */

  .main__title {
    margin: 0.7em;
    font-size: 1.9em;
  }

  /* footer */

  .footer {
    font-size: 1em;
  }
}

@media all and (max-width: 800px) {
  /* header */

  header {
    position: fixed;
    top: 0;
    height: 7em;
  }

  .header--left__menu-button {
    display: block;
  }

  .header--left__logo > a > img {
    height: 4em;
  }

  .header--left__title__main-title {
    font-size: 2em;
  }

  .header--left__title__subtitle {
    font-size: 1.2em;
  }

  .header--right {
    display: none;
  }

  /* main */

  main {
    width: 100%;
    margin-top: 7em;
  }

  .main__title {
    margin: 0.7em;
    font-size: 1.9em;
  }

  /* footer */

  footer {
    display: none;
  }
}

@media all and (max-width: 600px) {
  /* header */

  header {
    height: 6em;
  }

  .header--left__menu-button > img, .header--left__logo > a > img {
    height: 3em;
  }

  .header--left__title__main-title {
    font-size: 2em;
  }

  .header--left__title__subtitle {
    font-size: 0.8em;
  }

  /* nav */

  .nav__ul {
    font-size: 1.2em;
  }

  /* main */

  main {
    margin: 6em 0em 0em 0em;
  }

  .main__title {
    display: none;
  }
}

@media all and (max-width: 400px) {
  /* header */

  .header--left {
    margin-left: 0;
  }

  .header--left__title {
    margin-left: 1em;
  }

  .header--left__title__main-title {
    font-size: 1.4em;
  }

  .header--left__title__subtitle {
    font-size: 0.6em;
  }

  /* nav */

  nav {
    padding: 1em;
    width: 60%;
  }

  .nav__icon > img {
    height: 2em;
  }

  .nav__ul {
    font-size: 0.9em;
  }

  .nav__ul li {
    margin: 0.5em 0em 0.5em 0em;
  }

  /* main */

  .main__game {
    height: 15em;
    width: 15em;
    margin: 0.5em 0em 0.5em 0em;
  }

  .main__game__photo {
    height: 8em;
  }

  .main__game__informations {
    padding: 0.1em;
    font-size: 0.7em;
  }

  .main__game__presentation {
    padding: 0.5em 0.2em 0.2em 0.2em;
    font-size: 0.7em;
  }
}